@model JugadorEquipo

@{
    ViewData["Title"] = "Index";
}

<h1>Jugadores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear</a>
</p>
<form asp-controller="Jugadors" asp-action="Index" method="get">
    <p>
        
        <select asp-for="JugadoEquipo" asp-items="Model.Equipos" class="form-control">
            <option value="">Todos los Equipos</option>
        </select>

        
        <label>
            Buscar jugadores por equipo:
            <input type="text" asp-for="SearchString" class="form-control" />
        </label>
        <input type="submit" value="Filtrar" class="btn btn-primary" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Jugadores.FirstOrDefault().Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Jugadores.FirstOrDefault().Posición)</th>
            <th>@Html.DisplayNameFor(model => model.Jugadores.FirstOrDefault().Edad)</th>
            <th>@Html.DisplayNameFor(model => model.Jugadores.FirstOrDefault().Equipo.Nombre)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jugadores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posición)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-secondary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">Borrar</a>
                

            </td>
        </tr>
}
    </tbody>
</table>
